[submodule "third_party/hash-library"]
	path = third_party/hash-library
	url = https://github.com/stbrumme/hash-library
[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "third_party/snappy"]
	path = third_party/snappy
	url = https://github.com/google/snappy.git
[submodule "third_party/libnop"]
	path = third_party/libnop
	url = https://github.com/google/libnop.git
[submodule "third_party/integers"]
	path = third_party/integers
	url = https://github.com/google/integers.git
[submodule "third_party/cctz"]
	path = third_party/cctz
	url = https://github.com/google/cctz.git
[submodule "third_party/double-conversion"]
	path = third_party/double-conversion
	url = https://github.com/google/double-conversion.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
