<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application>
        <provider
            android:name="com.mgg.checkenv.CheckMobEnvInitializer"
            android:exported="false"
            android:authorities="com.mgg.checkenv.CheckMobEnvInitializer.${applicationId}" />
    </application>
</manifest>
